{release, {ridhm_pubsub, "0.2.2"}, [
    ridhm_pubsub,
    xmerl,
    rabbit_common,
    amqp_client,
    mnesia,
    eredis_smart_sub,
    jsx,
    bullet,
    uuid
]}.

{sys_config, "./config/ridhm_pubsub.config"}.
{vm_args, "./config/vm.args"}.

{extended_start_script, true}.

{overlay, [
    {copy, "config/ridhm_pubsub.config", "etc/ridhm_pubsub.config"},
    {copy, "config/vm.args", "etc/vm.args"},
    {template, "templates/ridhm_pubsub", "sbin/ridhm_pubsub"}
    ]}.